div {
    height: 90vh;
    
  }
  div.left {
    width:50%;
    
    float: left;
    box-sizing: border-box;
  
    
    background-size:contain;
    background-image: url(https://i.pinimg.com/564x/16/90/f8/1690f8f5fb7e2bfbc557f4dc9a95143c.jpg)
  }
  div.right {
    width: 50%;
    float: right;
    box-sizing: border-box;
    background: #8799c1;
    overflow: hidden;
  }
  div.input1 {
   margin: 360px 100px 0px 100px;
  }
